In [1]:
import pandas as pd

## Load all data

In [2]:
df_KO = pd.read_csv("../data/KO_levels.csv")
df_KO.head()

     kegg             level_1                   level_2
0  K01369  Cellular Processes  Transport and catabolism
1  K01368  Cellular Processes  Transport and catabolism
2  K01365  Cellular Processes  Transport and catabolism
3  K01364      Human Diseases           Drug resistance
4  K01366  Cellular Processes  Transport and catabolism

In [3]:
df_brite = pd.read_csv("../data/BRITE_levels.csv")
df_brite.head()

     kegg           brite_level
0  K00184                   NaN
1  K00185                   NaN
2  K00183                   NaN
3  K00180  Enzymes [BR:ko01000]
4  K01361  Enzymes [BR:ko01000]

In [55]:
df_brite_key = pd.read_csv("../data/BRITE_key_levels.csv")
df_brite_key.columns = ['BRITE_id', 'brite_level_1', 'brite_level_2']
df_brite_key.head()

,BRITE_id,brite_level_1,brite_level_2
0,ko03029,Genetic Information Processing,Translation
1,ko00199,Metabolism,Enzyme families
2,ko04050,Environmental Information Processing,Signaling molecules and interaction
3,ko00194,Metabolism,Energy metabolism
4,ko04121,Genetic Information Processing,"Folding, sorting and degradation"

In [56]:
df_brite_level_names = pd.read_csv("../data/Brite_list.csv")
df_brite_level_names.head()

                                          0
0                                       NaN
1                      Enzymes [BR:ko01000]
2        Transcription factors [BR:ko03000]
3             Secretion system [BR:ko02044]
4  G protein-coupled receptors [BR:ko04030]

In [57]:
df_brite_level_names.columns = ["brite_name"]
df_brite_level_names.head()

                                 brite_name
0                                       NaN
1                      Enzymes [BR:ko01000]
2        Transcription factors [BR:ko03000]
3             Secretion system [BR:ko02044]
4  G protein-coupled receptors [BR:ko04030]

In [58]:
BRITE_id = list(df_brite_level_names["brite_name"][1:].apply(lambda row: row.split("BR:")[1][:-1]))
BRITE_id.insert(0, 'unknown')

In [59]:
df_brite_level_names["BRITE_id"] = pd.Series(BRITE_id)

In [60]:
df_brite_level_names.head()

                                 brite_name BRITE_id
0                                       NaN  unknown
1                      Enzymes [BR:ko01000]  ko01000
2        Transcription factors [BR:ko03000]  ko03000
3             Secretion system [BR:ko02044]  ko02044
4  G protein-coupled receptors [BR:ko04030]  ko04030

## merge BRITE with BRITE key

In [61]:
print df_brite_level_names.shape
print df_brite_key.shape

(46, 2)
(44, 3)

In [62]:
list(set(list(df_brite_level_names.BRITE_id)) - set(list(df_brite_key.BRITE_id)))

['unknown', 'ko00002']

In [63]:
df_brite_key_merge = pd.merge(df_brite_key, df_brite_level_names, how = 'outer')
df_brite_key_merge.head()

,BRITE_id,brite_level_1,brite_level_2,brite_name
0,ko03029,Genetic Information Processing,Translation,Mitochondrial biogenesis [BR:ko03029]
1,ko00199,Metabolism,Enzyme families,Cytochrome P450 [BR:ko00199]
2,ko04050,Environmental Information Processing,Signaling molecules and interaction,Cytokine receptors [BR:ko04050]
3,ko00194,Metabolism,Energy metabolism,Photosynthesis proteins [BR:ko00194]
4,ko04121,Genetic Information Processing,"Folding, sorting and degradation",Ubiquitin system [BR:ko04121]

In [64]:
df_brite_key_merge.shape

(46, 4)

In [65]:
df_brite.head()

     kegg            brite_name
0  K00184                   NaN
1  K00185                   NaN
2  K00183                   NaN
3  K00180  Enzymes [BR:ko01000]
4  K01361  Enzymes [BR:ko01000]

In [66]:
df_brite.columns = ['kegg', 'brite_name']
df_brite.head()

     kegg            brite_name
0  K00184                   NaN
1  K00185                   NaN
2  K00183                   NaN
3  K00180  Enzymes [BR:ko01000]
4  K01361  Enzymes [BR:ko01000]

In [67]:
df_brite_merge = pd.merge(df_brite, df_brite_key_merge)

In [68]:
print df_brite_merge.shape

(4396, 5)

In [70]:
df_brite_merge.tail()

,kegg,brite_name,BRITE_id,brite_level_1,brite_level_2
4391,K11724,Protein kinases [BR:ko01001],ko01001,Metabolism,Enzyme families
4392,K11721,Protein kinases [BR:ko01001],ko01001,Metabolism,Enzyme families
4393,K11722,Protein kinases [BR:ko01001],ko01001,Metabolism,Enzyme families
4394,K08869,Protein kinases [BR:ko01001],ko01001,Metabolism,Enzyme families
4395,K10077,Glycosaminoglycan binding proteins [BR:ko00536],ko00536,Metabolism,Glycan biosynthesis and metabolism

In [74]:
df_merge_KO_brite = pd.merge(df_KO, df_brite_merge, how = 'outer')

In [75]:
df_merge_KO_brite.shape

(10012, 7)

In [79]:
df_merge_KO_brite.head(10)

,kegg,level_1,level_2,brite_name,BRITE_id,brite_level_1,brite_level_2
0,K01369,Cellular Processes,Transport and catabolism,NaN,NaN,NaN,NaN
1,K01368,Cellular Processes,Transport and catabolism,NaN,NaN,NaN,NaN
2,K01365,Cellular Processes,Transport and catabolism,NaN,NaN,NaN,NaN
3,K01364,Human Diseases,Drug resistance,NaN,NaN,NaN,NaN
4,K01366,Cellular Processes,Transport and catabolism,NaN,NaN,NaN,NaN
5,K01361,NaN,NaN,Enzymes [BR:ko01000],ko01000,Metabolism,Enzyme families
6,K01360,NaN,NaN,Enzymes [BR:ko01000],ko01000,Metabolism,Enzyme families
7,K01363,Cellular Processes,Transport and catabolism,NaN,NaN,NaN,NaN
8,K01362,NaN,NaN,Enzymes [BR:ko01000],ko01000,Metabolism,Enzyme families
9,K09173,NaN,NaN,Transcription factors [BR:ko03000],ko03000,Genetic Information Processing,Transcription

In [80]:
pd.unique(df_merge_KO_brite.brite_level_1)

array([nan, 'Metabolism', 'Genetic Information Processing',
       'Environmental Information Processing', 'Cellular Processes'], dtype=object)

In [81]:
pd.unique(df_merge_KO_brite.level_1)

array(['Cellular Processes', 'Human Diseases', nan, 'Metabolism',
       'Environmental Information Processing',
       'Genetic Information Processing', 'Organismal Systems'], dtype=object)

In [83]:
df_merge_KO_brite.to_csv("../data/kegg_levels_final.csv", index = False)